/* font */
/* fontjudul = font-family: 'DM Serif Display', serif; */
/* fontparagrap = font-family: 'DM Serif Display', serif; */

/* css variable */
:root{
	--color1: #125C13;
	--color2: #F4A442;
	--color3: #E8E1D9;
}

html{
	width: 100vw;
	overflow-x: hidden;
}
body{
	overflow-x: hidden;
}

/* hero */
header{
	width: 100%;
	height: 100vh;
	color: var(--color3);
	overflow: hidden;
	position: relative;
}
header .bgtext{
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 99;
	position: absolute;
	overflow: hidden;
	transform: translateY(0);
	opacity: 1;
	transition: all 1s;
}
header .bgtext h3.unseen{
	transform: translate(6vw,16vh);
	opacity: 0;
}
header .bgtext h3{
	font-size: 20px;
	transform: translate(6vw,32vh);
	opacity: 1;
	transition: all 1s;
}
header .bgtext h1.unseen{
	transform: translate(6vw,16vh);
	opacity: 0;
}
header .bgtext h1{
	font-size: 70px;
	transform: translate(6vw,38vh);
	font-family: 'DM Serif Display', serif;
	opacity: 1;
	transition: all 1s;
}
.bgtext a {
	padding: 0.8em 1.7em;
	background-color: transparent;
	border-radius: .3em;
	position: absolute;
	overflow: hidden;
	font-size: 17px;
	border: 1.4px solid var(--color3);
	font-family: 'Heebo', sans-serif;
	color: var(--color3);
	text-decoration: none;
	transition: all 1.2s;
}
header .bgtext a.bt1.unseen{
	opacity: 0;
}
header .bgtext a.bt1{
	transform: translate(6.2vw,45vh);
	padding: 14px 25px;
	opacity: 1;
	transition: all 2s;
}
header .bgtext a.bt2.unseen{
	opacity: 0;
}
header .bgtext a.bt2{
	transform: translate(calc(8vw + 158px),45vh);
	padding: 14px 41px;
	opacity: 1;
	transition: all 2s;
}
.bgtext a::before, .bgtext a::after {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	transform: translate(-50%, -50%);
	position: absolute;
	border-radius: 50%;
	z-index: -1;
	background-color: var(--color1);
	transition: 1s ease-in-out;
}
.bgtext a::before {
	top: -1em;
	left: -1em;
}
.bgtext a::after {
	left: calc(100% + 1em);
	top: calc(100% + 1em);
}
.bgtext a:hover::before, .bgtext a:hover::after {
	height: 410px;
	width: 410px;
}
.bgtext a:hover{
	border: 1.4px solid var(--color1);
}
.bgtext a:active {
	filter: brightness(.8);
}
header .bgimg{
	width: 100%;
	height: 105%;
	background-image: url("../img/home-header-bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	z-index: -1;
}
/* about */
.article{
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 99;
}
.article .image{
	width: 50%;
	height: 100vh;
	overflow: hidden;
}
.article .image .img.eat.unseen,
.article .image .img.drink.unseen,
.article .image .img.enjoy.unseen{
	transform: scale(1.4);
}
.article .image .img.eat,
.article .image .img.drink,
.article .image .img.enjoy{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	transform: scale(1);
	transition: all 5s;
}
.article .text{
	width: 50%;
	height: 100vh;
	background-color:  var(--color3);
	display: flex;
	justify-content: center;
	overflow: hidden;
}
.article .text.eat .miniContainer.unseen,
.article .text.drink .miniContainer.unseen,
.article .text.enjoy .miniContainer.unseen{
	transform: translateY(-20%);
	opacity: 0;
}
.article .text.eat .miniContainer,
.article .text.drink .miniContainer,
.article .text.enjoy .miniContainer{
	width: 55%;
	margin: auto;
	transform: translateY(0);
	opacity: 1;
	transition: all 3s;
}
.article .text a {
	padding: 15px 30px;
	margin-top: 50px;
	display: inline-block;
	font-size: 15px;
	font-family: 'Heebo', sans-serif;
	text-decoration: none;
	color: inherit;
	transition: all .5s;
	position: relative;
	overflow: hidden;
	border: 1.5px solid var(--color2);
}
.article .text a:hover {
	color: #ffffff;
	transform: scale(1.02);
	border: 1.5px solid var(--color1);
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.article .text a::before {
	content: "";
	position: absolute;
	left: -50px;
	top: 0;
	width: 0;
	height: 100%;
	background-color: var(--color1);
	transform: skewX(45deg);
	z-index: -1;
	transition: width .8s;
}
.article .text a:hover::before {
	width: 250%;
}
.article .text h1{
	font-size: 68px;
	font-family: 'DM Serif Display', serif;
	margin-bottom: 50px;
}
.article .text p{
	font-size: 16px;
	line-height: 1.5;
	/* font-family: 'Maven Pro', sans-serif; */
	font-family: 'Heebo', sans-serif;
}
.article .img.eat{
	background-image: url('../img/home-food.jpg');
}
.article .img.drink{
	background-image: url("../img/home-drink.jpg");
	transform: rotateY(180deg);
}
.article .img.enjoy{
	background-image: url("../img/home-enjoy.jpg");
}
/* about */
.reservation{
	width: 100%;
	height: 70vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.reservation .container-reservation{
	width: 100vw;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
	color: var(--color3);
	background-color: rgba(0, 0, 0, 0.5);
}
.reservation .container-reservation h3{
	font-size: 38px;
	font-family: 'Great Vibes', cursive;
}
.reservation .container-reservation h1{
	font-size: 45px;
	margin-top: 2%;
	font-family: 'DM Serif Display', serif;
}
.reservation .container-reservation a{
	margin-top: 5%;
	color: var(--color3);
	display: inline-block;
	width: 125px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 1.7px solid var(--color3);
	box-sizing: border-box;
	font-size: 17px;
	background-image: linear-gradient(var(--color1), var(--color1));
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 0% 100%;
	transition: background-size .5s, color .5s, border 1s;
}
.reservation .container-reservation a:hover{
	border: 1.7px solid var(--color1);
	background-size: 100% 100%;
}
.reservation .bgimage{
	width: 100%;
	height: 110vh;
	position: absolute;
	bottom: 0;
	background-image: url('../img/home-reservation.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
}
/* gallery */
.gallery{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: var(--color1);
	overflow: hidden;
}
.gallery div{
	width: 16.666666%;
	overflow: hidden;
}
.gallery div img{
	width: 100%;
	transition: 0.3s all ease-in-out;
	transform: scale(1.02);
}
.gallery div img:hover{
	transform: scale(1.1);
}
/* loader */
.container-loader{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	background-color: rgb(0, 0, 0);
	z-index: 999999999999999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-loader img{
	width: 120px;
	height: fit-content;
	filter: invert(100%);
}
.container-loader .circle{
	width: 107px;
	height: 107px;
	border-top: 4px solid #ffffff;
	border-left: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	border-right: 4px solid #000000;
	border-radius: 100%;
	position: absolute;
	animation: spin 1.5s ease-out infinite;
	pointer-events: none;
	z-index: 9;
}
@keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}

/* breakpoint */
@media (max-width: 861px){
	.gallery div{
		width: 33.333%;
	}
}
@media (max-width: 575.98px){
	html{
		width: 100vw;
		overflow-x: hidden;
	}
	/* header */
	header .bgtext h3{
		font-size: 16px;
		transform: translate(45px,180px);
	}
	header .bgtext h1{
		font-size: 55px;
		transform: translate(45px,220px);
	}
	header .bgtext a{
		font-size: 14px;
	}
	header .bgtext a.bt1{
		transform: translate(45px,265px);
		padding: 12px 20px;
	}
	header .bgtext a.bt2{
		transform: translate(200px,265px);
		padding: 12px 33px;
	}
	/* article */
	.article .image{
		width: 100%;
	}
	.article .text{
		width: 100%;
	}
	.article div:nth-child(4){
		transform: translateY(-100vh);
	}
	.article div:nth-child(3){
		transform: translateY(100vh);
	}
	/* reservation */
	.reservation .container-reservation h3{
		font-size: 32px;
	}
	.reservation .container-reservation h1{
		font-size: 38px;
		margin-top: 5%;
		width: 80%;
	}
	.reservation .container-reservation a{
		margin-top: 11%;
		width: 115px;
		height: 35px;
		line-height: 35px;
		font-size: 16px;
	}
	/* gallery */
	.gallery div{
		width: 50%;
	}
}
