/* modal pop up product */
.modal{
    position: fixed;
    width: 90%;
    height: 90vh;
    margin: auto;
    background-color: rgb(223, 223, 223);
    top: 5vh;
    left: 5%;
    z-index: 99999999;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.modal.close{
    display: none;
}
.modal .container-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.modal .container-left .img{
    width: 90%;
    height: 90%;
    overflow: hidden;
}
.modal .container-left .img img{
    width: 100%;
    height: fit-content;
}
/* scrollbar edit */
.container-right::-webkit-scrollbar {
    width: 6px;
}
.container-right::-webkit-scrollbar-thumb {
    background: #888;
}
.modal .container-right{
    overflow-y: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.modal .container-right .modal-title{
    width: 80%;
    font-size: 30px;
    font-family: "Teko", sans-serif;
    padding-top: 5%;
}
.modal .container-right .modal-type{
    width: 80%;
    font-size: 20px;
    padding-top: 10px;
}
.modal .container-right .modal-price{
    width: 80%;
    font-size: 30px;
    padding-top: 20px;
}
.modal .container-right .modal-size{
    width: 80%;
}
.modal .container-right .modal-size label{
    width: 80%;
    font-size: 23px;
    padding: 20px 0 10px 0;
    display: inline-block;
}
.modal .container-right .modal-size select{
    width: 40%;
    height: 35px;
}
.modal .container-right form span{
    margin-left: 5%;
    padding: 10px;
    border: 1px solid black;
}
.modal .container-right form span:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
}
.modal .container-right form h3{
    font-size: 25px;
}
.modal .container-right .modal-quantity{
    width: 80%;
}
.modal .container-right .modal-quantity h3{
    width: 80%;
    font-size: 23px;
    padding: 20px 0 10px 0;
}
.modal .container-right select{
    width: 60%;
    height: 35px;
}
.modal .container-right a.check-out{
    display: inline-block;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    margin: 35px auto;
    text-align: center;
    background-color: white;
    border: 1px solid black;
}
.modal .container-right .add-cart{
    width: 80%;
    padding: 20px 0px;
    border-radius: 30px;
    margin-bottom: 30px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
.modal .container-right .add-cart:active{
    transform: scale(.99);
}
.modal .container-right .modal-description{
    width: 80%;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 30px;
}
.close-btn-pop-up{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 10px;
    right: 10px; */
    position: fixed;
    top: calc(5vh + 15px);
    right: calc(5vw + 20px);
}
.close-btn-pop-up span{
    width: 60%;
    height: 2px;
    background-color: black;
    pointer-events: none;
}
.close-btn-pop-up span:first-child{
    transform: rotate(-45deg) translate(-1px , 1px);
}
.close-btn-pop-up span:last-child{
    transform: rotate(45deg) translate(-0.2px , -0.2px);
}
.close-btn-pop-up:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.close-btn-pop-up:hover span{
    background-color: white;
}
/* desc in cart */
.modal .modal-size-item{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 80%;
    font-size: 24px;
    padding-top: 20px;
}
.modal .modal-size-item p:last-child{
    padding-top: 12px;
    padding-bottom: 10px;
}

@media (max-width: 770px){
    .modal{
        flex-direction: column;
    }
    .modal .container-right,
    .modal .container-right{
        width: 100%;
    }
    .modal .container-left{
        height: 30%;
    }
    .modal .container-left .img{
        height: 90%;
        width: 100%;
    }
    .modal .container-left .img img{
        transform: translateY(-20%);
    }
}
@media (max-width: 500px){
    .modal .container-left .img img{
        transform: translateY(0%);
    }
}